- resource ||= User.new
- resource_name ||= :user
- rememberable ||= true
- redirect_url ||= url_for(params)

= form_for resource, :url => session_path(resource_name) do |f|
  = hidden_field_tag :redirect_url, redirect_url
  %p= f.label :email
  %p= f.text_field :email
  %p= f.label :password
  %p= f.password_field :password

  - if rememberable
    %p
      = f.check_box :remember_me, :checked => true
      = f.label :remember_me

  %p= f.submit "Sign in"