.top-item{:data => {:link => ebay_item_path(ebay_item)}}
  - picture = ebay_item.pictures.first
  = link_to ebay_item do
    = image_tag display_picture_img(picture)
  %div
    = link_to(ebay_item.title, ebay_item, :title => "View #{ebay_item.title} Details")
  %div
    = display_date(ebay_item.endtime)
  %div
    = number_to_currency(ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype))
    = ebay_item.currencytype