<div class="container">
    <h3>Vinyl Results <%= @start %>-<%= @end %> of <%= @total %></h3>

    <ul>
        <% @ebay_items.each do |ebay_item| %>
            <li class="recordItem">
                <%= render :partial=> "partials/ebay_item_abbrv", :locals => { :ebay_item => ebay_item } %>
            </li>
            <hr/>
        <% end %>
    </ul>
    <% if @prev %>
        <a class="prev" href="/all/<%= @prev %>">&lt; Prev</a>
    <% end %>
    <% if @next %>
        <a class="next" href="/all/<%= @next %>">Next &gt;</a>
    <% end %>
</div>