<div class="container">
  <h2>RootsVinylGuide.com provides a searchable back catalog of EBay auctions in the category of
    Reggae &amp; Ska records and allows for community driven auction categorization.
  </h2>
  <hr/>
  <p>
    <h3 class="home-header">Top Auctions In The Last 24 Hours</h3>
    <%= link_to '(more...)', all_path(:sort => 'price', :order => 'desc', :time => 'today') %>
  </p>
  <div class="clearfix"></div>
    <%= render :partial => "partials/small_ebay_item_index", :locals => {:ebay_items => @top_items} %>
  <div class="clearfix"></div>
  <hr/>
  <div>
    <h3 class="home-header"><%= @ebay_items.length %> Latest Vinyl Results</h3>
    <%= link_to '(more...)', all_path %>  
  </div>
  <div>
    <%= render :partial => "partials/small_ebay_item_index", :locals => {:ebay_items => @ebay_items} %>
  </div>
  <div class="clearfix"></div>
  <hr/>
  <div class="twitter-widget">
  <p>Recent Updates from <%= link_to 'rootsvinylguide@twitter', "http://twitter.com/rootsvinylguide"%></p>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
      new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 2,
          interval: 6000,
          width: 800,
          height: 300,
          theme: {
              shell: {
                  background: '#ffffff',
                  color: '#990000',
                  border: '1px solid'
              },
              tweets: {
                  background: '#ffffff',
                  color: '#990000',
                  links: '#990000'
              }
          },
          features: {
              scrollbar: false,
              loop: false,
              live: false,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
          }
      }).render().setUser('rootsvinylguide').start();
  </script>
  </div>
</div>