.container

  .search-header
    = render :partial => 'search/form'
  .browse-header
    %h3 Top Recent Auctions
    = link_to '(more...)', all_path(:sort => 'price', :order => 'desc', :time => 'today')
  .top-items
    - if @top_items.present?
      = render :partial => "top_ebay_item", :collection => @top_items, :as => :ebay_item
    - else
      %p
        There have been no auctions tracked within the last 24 hours...

  .browse-header
    %h3 Latest Auctions
    = link_to '(more...)', all_path
  .small-auctions
    = render :partial => "small_ebay_item", :collection => @ebay_items, :as => :ebay_item

  .extra-info

    .browse-header
      %h3
        Recent Updates from
        = link_to 'rootsvinylguide@twitter', "http://twitter.com/rootsvinylguide"
    .twitter-widget
    %p
    %script{:src=>"http://widgets.twimg.com/j/2/widget.js"}
    :javascript
       new TWTR.Widget({
         version: 2,
         type: 'profile',
         rpp: 2,
         interval: 6000,
         width: 800,
         height: 300,
         theme: {
             shell: {
                 background: '#FFF5E6',
                 color: '#990000',
                 border: '1px solid'
             },
             tweets: {
                 background: '#FFF5E6',
                 color: '#990000',
                 links: '#990000'
             }
         },
         features: {
             scrollbar: false,
             loop: false,
             live: false,
             hashtags: true,
             timestamp: true,
             avatars: false,
             behavior: 'all'
         }
       }).render().setUser('rootsvinylguide').start();
