<div class="container">

  <h3>Listing auctions for release</h3>

  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Label</th>
      <th>Matrix number</th>
    </tr>

    <tr>
      <td><%= h @release.title %></td>
      <td><%= h @release.artist %></td>
      <td><%= h @release.year %></td>
      <td><%= h @release.label %></td>
      <td><%= h @release.matrix_number %></td>
      <td><%= link_to 'Show', @release %></td>
      <td><%= link_to 'Edit', edit_release_path(@release) %></td>
      <td><%= link_to 'Destroy', @release, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  </table>

  <br/>
  <%= render :partial => "partials/ebay_item_index", :locals => {
          :header_text => "<h3>All Vinyl Results #{@start}-#{@end} of #{@total}</h3>",
          :base_url => "/all"} %>

</div>