<div class="container">
  <h3>Vinyl Details</h3>
  <% if @ebay_item.release %>
      <div class="related-items">
        <p><%= no_or_length(@ebay_item.related_items) %> Related Auctions
          for <%= link_to release_title_for(@ebay_item.release), @ebay_item.release %>
        </p>
        <p>
          <%= render :partial => "partials/small_ebay_item_index", :locals => {:ebay_items => @ebay_item.related_items, :num_per_row => 8} %>
        </p>
      </div>
  <% else %>
      <%= render :partial=> "partials/map_ebay_item", :locals => {:ebay_item => @ebay_item, :release => @release} %>
  <% end %>
  <div class="clearfix"></div>

  <%= render :partial=> "partials/ebay_item", :locals => {:ebay_item => @ebay_item} %>
  <div style="clear: both"></div>
</div>

<%= javascript_include_tag 'ebayitems' %>
