%li
  .user-info
    %span
      = comment.user.username
    %span
      = relative_past_time(comment.created_at)
  .comment-body
    %span
      = comment.body
    %span
  - if current_user == comment.user
    = link_to("Delete Comment", comment_path(comment), :method => :delete)
  = content_for "comment_#{comment.id}_links".to_sym