%li
  .item-image
    = link_to polymorphic_path(comment.parent) do
      = gallery_img_for(comment.parent).html_safe
  .user-info
    %span
      = comment.user.username
    %span
      = relative_past_time(comment.created_at)
    - if current_user == comment.user
      %span
        = link_to("Delete Comment", comment_path(comment), :method => :delete)
  .comment-body
    %span
      = truncate_with_link(comment)
    %span
  = link_to 'View Comment', comment_path(comment)
  = content_for "comment_#{comment.id}_links".to_sym