= form_for Comment.new(:parent => ebay_item) do |f|
  = f.hidden_field :parent_id
  = f.hidden_field :parent_type
  .comment-text
    = f.text_area :body, :cols => 60, :rows => 3
  .comment-submit
    = f.submit
