<div class="container">


    <h3><%= @start %>-<%= @end %> of <%= @total %> Search Results found for &quot;<%= html_escape(@query) %>&quot;</h3>

    <ul>
        <% @ebay_items.each do |ebay_item| %>
            <li class="recordItem">
                <%= render :partial=> "partials/ebay_item_abbrv", :locals => { :ebay_item => ebay_item } %>
            </li>
            <hr/>
        <% end %>
    </ul>
    <%= render :partial => "partials/paginated_links", :locals => { :base_url => "/search?query=#{url_escape(@query)}&page=", :next_link => @next, :prev_link => @prev } %>
    <br/>

</div>
