<div class="container">
<h3>Record Labels</h3>
<p>This view is from the perspective of user generated record labels. A record label can have many releases mapped to
  it.
  When a user creates a release, they may choose an exisiting record label from or add an entry to the list.
  For more information, please visit the <a class="fontfix" href="/about/welcome">welcome</a> page</p>
<hr/>

<ul class="ebay-items">
  <% @labels.each do |label| %>
      <li class="record-item" id="label<%= label.id %>">
        <img src="<%= display_gallery_img_for(label.ebay_item) %>"/>
        <table>
          <tr>
            <td><label>Name</label></td>
            <td><span><%= link_to h(label.name), label, :title => "View #{label.name} Details" %></span></td>
          </tr>
          <tr>
            <td><label>Description</label></td>
            <td>
              <span><%= truncate(h(label.description), :length => 200, :omission => "... #{link_to('(more)', label)}") %></span>
            </td>
          </tr>
          <!--<tr>-->
            <!--<td><label>Actions</label></td>-->
            <!--<td>-->
              <!--<span><%= link_to 'View Details', label %></span> |-->
              <!--<span><%= link_to 'Edit Details', edit_label_path(label) %></span> |-->
              <!--<span><%= link_to 'Delete Label', label, :confirm => 'Are you sure?', :method => :delete %></span>-->
            <!--</td>-->
          <!--</tr>-->
        </table>
      </li>
      <div class="clearfix"></div>
  <% end %>
</ul>

<br/>

<%= link_to 'New label', new_label_path %>
</div>