<p>
    <label>Title</label>
    <span><%= h ebay_item.title %></span>
</p>
<p>
    <label>End Time</label>
    <span><%= h ebay_item.endtime %></span>
</p>
<p>
    <label>Price</label>
    <span><%= h number_to_currency ebay_item.price %></span>
</p>
<p>
    <label>Gallery Image</label>
    <span><img src="<%= display_gallery_img(ebay_item.galleryimg) %>"/></span>
</p>
<p>
    <a class="view" href="/<%= ebay_item.id %>">View</a>
</p>