<table class="abbrvItem">
    <tr>
        <td>

            <p><span><img src="<%= display_gallery_img(ebay_item.id, ebay_item.hasimage) %>"/></span></p>
        </td>
        <td>
            <p>
                <label>Title</label>
                <span><%= ebay_item.title %></span>
            </p>

            <p>
                <label>End Time</label>
                <span><%= display_date(ebay_item.endtime) %></span>
            </p>

            <p>
                <label>Price</label>
                <span><%= number_to_currency ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype) %> <%= ebay_item.currencytype %></span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a class="view" href="/<%= ebay_item.id %>">View Details</a>
        </td>
    </tr>
</table>