- ebay_item ||= ebay_item_abbrv
%li.record-item{:id=>"ebay_item_#{ebay_item.id}", :data => {:link => ebay_item_path(ebay_item)}}
  .image-thumb
    = link_to ebay_item do
      %img{:src=>display_gallery_img(ebay_item)}
  .item-headers
    %label
      Title
    %label
      Ended
    %label
      Price
  .item-data
    .item-row
      = link_to(ebay_item.title, ebay_item, :title => "View #{ebay_item.title} Details")
    .item-row
      = display_date(ebay_item.endtime)
    .item-row
      = number_to_currency(ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype))
      = ebay_item.currencytype
    .user-options
      .add-to-favorites{:title => "Add to Favorites"}
        - if user_signed_in?
          = render :partial => 'favorites/favorite', :locals => {:ebay_item => ebay_item}
        - else
          = link_to "+Favorite", new_user_session_path(:message => "Please sign in to add an item to your favorites.")
      .comment.triangle-border
        = link_to 'Comment', ebay_item_path(ebay_item, :anchor => 'comments')
  - if @controls && ebay_item.release_id
    %p
      = form_for(ebay_item) do |f|
        = full_error_messages(ebay_item)
        %input{:type=>"hidden", :name=>"ebay_item[release_id]", :value=>""}
        %p
          = f.submit 'X', :class => "unmap-auction"