<p>
    <label>Ebay Item Id</label>
    <span><%= h ebay_item.itemid %></span>
</p>
<p>
    <label>Title</label>
    <span><%= h ebay_item.title %></span>
</p>
<p>
    <label>Description</label>
    <span><%= h ebay_item.description %></span>
</p>
<p>
    <label>Bid Count</label>
    <span><%= h ebay_item.bidcount %></span>
</p>
<p>
    <label>Price</label>
    <span><%= h ebay_item.price %></span>
</p>
<p>
    <label>End Time</label>
    <span><%= h ebay_item.endtime %></span>
</p>
<p>
    <label>Start Time</label>
    <span><%= h ebay_item.starttime %></span>
</p>
<p>
    <label>Link</label>
    <span><a href="<%= ebay_item.url %>"><%= ebay_item.url %></a></span>
</p>
<p>
    <label>Gallery Image</label>
    <span><img src="<%= display_gallery_img(ebay_item.galleryimg) %>"/></span>
</p>
<p>
    <label>Seller Id</label>
    <span><%= h ebay_item.sellerid %></span>
</p>