<p>
    <label>Ebay Item Id</label>
    <span><%= ebay_item.itemid %></span>
</p>
<p>
    <label>Title</label>
    <span><%= ebay_item.title %></span>
</p>
<p>
    <label>Description</label>
    <span><%= ebay_item.description %></span>
</p>
<p>
    <label>Bid Count</label>
    <span><%= ebay_item.bidcount %></span>
</p>
<p>
    <label>Price</label>
    <span><%= number_to_currency ebay_item.price %></span>
</p>
<p>
    <label>Start Time</label>
    <span><%= display_date(ebay_item.starttime) %></span>
</p>
<p>
    <label>End Time</label>
    <span><%= display_date(ebay_item.endtime) %></span>
</p>
<p>
    <label>Link</label>
    <span><a href="<%= ebay_item.url %>"><%= ebay_item.url %></a></span>
</p>
<p>
    <label>Gallery Image</label><br/>
    <span><img src="<%= display_gallery_img(ebay_item.galleryimg) %>"/></span>
</p>
<p>
    <label>Seller Id</label>
    <span><%= ebay_item.sellerid %></span>
</p>
<% if !ebay_item.pictures.empty? %>
    <div class="pictures">
        <label>Pictures</label><br/>
        <% ebay_item.pictures.each do |picture| %>
            <span><img src="<%= display_gallery_img(picture.url) %>"/></span><br/>
        <% end %>
    </div>
<% end %>