<p>
    <label>Link</label>
    <span><a href="<%= ebay_item.url %>"><%= ebay_item.url %></a></span>
</p>
<p>
    <label>Ebay Item Id</label>
    <span><%= ebay_item.itemid %></span>
</p>
<p>
    <label>Title</label>
    <span><%= ebay_item.title %></span>
</p>
<p>
    <label>Bid Count</label>
    <span><%= ebay_item.bidcount %></span>
</p>
<p>
    <label>Price</label>
    <span><%= number_to_currency ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype) %> <%= ebay_item.currencytype %></span>
</p>
<p>
    <label>Started At</label>
    <span><%= display_date(ebay_item.starttime) %></span>
</p>
<p>
    <label>Ended At</label>
    <span><%= display_date(ebay_item.endtime) %></span>
</p>
<p>
    <label>Country</label>
    <span><%= ebay_item.country %></span>
</p>
<p>
    <label>Sub-Genre</label>
    <span><%= ebay_item.subgenre %></span>
</p>
<p>
    <label>Size</label>
    <span><%= ebay_item.size %></span>
</p>
<p>
    <label>Speed</label>
    <span><%= ebay_item.speed %></span>
</p>
<p>
    <label>Condition</label>
    <span><%= ebay_item.condition %></span>
</p>
<p>
    <label>Seller Id</label>
    <span><%= ebay_item.sellerid %></span>
</p>
<p>
    <label>Description</label>
    <span><%= ebay_item.description %></span>
</p>
<p>
    <label>Gallery Image</label><br/>
    <span><img src="<%= display_gallery_img(ebay_item.id, ebay_item.hasimage) %>"/></span>
</p>
<% imagefound = false %>

<% count = 0 %>
<% ebay_item.pictures.each do |picture| %>
    <% if picture.hasimage %>
        <% if !imagefound %>
            <div class="pictures">
                <label>Pictures</label><br/>
                <% imagefound = true %>
        <% end %>
        <span><img src="/images/pictures/<%= ebay_item.id %>_<%= count %>.jpg"/></span><br/>
        <% count += 1 %>
    <% end %>
    <% if imagefound %>
        </div>
    <% end %>
<% end %>
