<li class="recordItem" id="ebay_item_<%= ebay_item.id %>">
  <img src="<%= display_gallery_img(ebay_item.id, ebay_item.hasimage) %>"/></span></p>
  <table>
    <tr>
      <td><label>Title</label></td>
      <td><span><%= link_to h(ebay_item.title), ebay_item, :title => "View #{ebay_item.title} Details" %></span></td>
    </tr>
    <tr>
      <td><label>Ended At</label></td>
      <td><span><%= display_date(ebay_item.endtime) %></span></td>
    </tr>
    <tr>
      <td>
        <label>Price</label>
      </td>
      <td>
        <span><%= number_to_currency ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype) %> <%= ebay_item.currencytype %></span>
      </td>
    </tr>
  </table>
  <% if @controls && ebay_item.release_id %>
      <p>
        <%= form_for(ebay_item) do |f| %>
            <%= full_error_messages ebay_item %>
            <input type="hidden" name="ebay_item[release_id]" value=""/>

            <p>
              <%= f.submit 'X', :class => "unmap-auction" %>
            </p>
        <% end %>
        </p>
  <% end %>
  <div class="clearfix"></div>
</li>