<li class="recordItem" id="ebay_item_<%= ebay_item.id %>">
  <table class="abbrvItem">
    <tr>
      <td>
        <p><span><img src="<%= display_gallery_img(ebay_item.id, ebay_item.hasimage) %>"/></span></p>
      </td>
      <td>
        <p>
          <label>Title</label>
          <span><%= ebay_item.title %></span>
        </p>

        <p>
          <label>End Time</label>
          <span><%= display_date(ebay_item.endtime) %></span>
        </p>

        <p>
          <label>Price</label>
          <span><%= number_to_currency ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype) %> <%= ebay_item.currencytype %></span>
        </p>
      </td>
    </tr>
    <tr>
      <% if @controls && ebay_item.release_id %>
          <td>
            <% form_for(ebay_item) do |f| %>
                <%= f.error_messages %>
                <input type="hidden" name="ebay_item[release_id]" value=""/>

                <p>
                  <%= f.submit 'X', :class => "unmap-auction" %>
                </p>
            <% end %>
          </td>
      <% end %>
      <td>
        <a class="view" href="/<%= ebay_item.id %>">View Details</a>
      </td>
    </tr>

  </table>
</li>