<div class="header">
  <div class="logo-container"><div class="logo">Roots Vinyl Guide</div></div>
  <div class="nav">
    <div class="auction-menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li class="more">
          <span><a href="/all?page=1">AUCTIONS</a></span>
          <ul>
            <li><%= link_to 'ALL', all_path %></li>
            <li><a href="/lps?page=1">LPS</a></li>
            <li><a href="/eps?page=1">EPS</a></li>
            <li><a href="/singles?page=1">SINGLES</a></li>
            <li><a href="/other?page=1">OTHER</a></li>
          </ul>
        </li>
        <li><%= link_to 'COMMENTS', comments_path %></li>
        <li><a href="/about/welcome">ABOUT</a></li>
          <% if signed_in? %>
            <li class="more account">
              <span><%= link_to "ACCOUNT", user_path(current_user) %></span>
              <ul>
                <li><%= link_to "MY PAGE", user_path(current_user) %></li>
                <li><%= link_to "SIGN OUT", destroy_user_session_path %></li>
              </ul>
            </li>
          <% else %>
            <li>
                <%= link_to "SIGN IN", new_user_session_path %>
            </li>
          <% end %>
      </ul>
      <%= render :partial => 'search/form' %>

    </div>
  </div>
</div>