<% form_for(release) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :artist %><br/>
      <%= f.text_field :artist %>
    </p>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :year %><br/>
      <%= f.text_field :year %>
    </p>
    <% f.fields_for :label_entity do |label_form| %>
        <%= label_form.label :name, "Label" %><br/>
        <% existing_labels = Label.all.collect { |label| ["#{label.name}", label.name] } %>
        <% existing_labels.insert(0, ['','']) %>
        <%= label_form.select :name, existing_labels, {}, :id => 'label_selector' %>
    <% end %>
    <p>
      <%= f.label :format %><br/>
      <%= collection_select(:release, :format_id, Format.all, :id, :name) %>
    </p>
    <p>
      <%= f.label :matrix_number %><br/>
      <%= f.text_field :matrix_number %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
    <div id='new_release_errors'></div>
<% end %>

<%= javascript_include_tag 'releases' %>