<% form_for(release, :html => {:class => 'new_release'}) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :artist %><br/>
      <%= f.text_field :artist %>
    </p>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :year %><br/>
      <%= f.select("year", Release::VALID_YEARS, {:include_blank => true}) %>
    </p>
    <% f.fields_for :label_entity do |label_form| %>
        <%= label_form.label :name, "Label" %><br/>
        <% existing_labels = Label.find(:all, :order => "name ASC").collect { |label| ["#{label.name}", label.name] } %>
        <% existing_labels.insert(0, ['','']) %>
        <%= label_form.select :name, existing_labels, {}, :id => 'label_selector' %>
    <% end %>
    <p>
      <%= f.label :format %><br/>
      <%= collection_select(:release, :format_id, Format.all, :id, :name) %>
    </p>
    <p>
      <%= f.label :matrix_number %><br/>
      <%= f.text_field :matrix_number %>
    </p>
    <%= hidden_field_tag :ebay_item_id, @ebay_item.id if @ebay_item %>
    <p>
      <%= f.submit 'Create' %>
    </p>
    <div class='new_release_errors'></div>
<% end %>

<%= javascript_include_tag 'releases' %>