<p>
    <label>Artist</label>
    <span><%= h record.artist %></span>
</p>
<p>
    <label>Title</label>
    <span><%= h record.title %></span>
</p>
<p>
    <label>Description</label>
    <span><%= h record.description %></span>
</p>
<p>
    <label>Date</label>
    <span><%= h record.date %></span>
</p>
<p>
    <label>Image</label>
    <span><%= h record.img_src %></span>
</p>
<p>
    <label>Producer</label>
    <span><%= h record.producer %></span>
</p>
<p>
    <label>Band</label>
    <span><%= h record.band %></span>
</p>
<p>
    <label>Engineer</label>
    <span><%= h record.engineer %></span>
</p>
<p>
    <label>Studio</label>
    <span><%= h record.studio %></span>
</p>
<span class="controls">
                    <span><%= link_to 'View', record %>|</span>
                    <span><%= link_to 'Edit', edit_record_path(record) %>|</span>
                    <span><%= link_to 'Delete', record, :confirm => 'Permenantly Delete This Record?', :method => :delete %></span>
                </span>
<hr/>