#genres
  %h2 Genres

  %h3 Uncategorized Genre Names
  - @uncategorized_genre_aliases.each do |genre_name, count|
    - genre_alias = GenreAlias.new(:name => genre_name)
    .new-genre
      %p= "#{genre_alias.name} (#{count})"
      = form_for [:admin, genre_alias] do |f|
        = f.hidden_field :name
        - options = options_for_select([nil] + @genres.map{|genre| [genre.name, genre.id]})
        = select_tag 'genre_alias[genre_id]', options
        = f.submit
      = form_for [:admin, genre_alias.build_genre(:name => genre_alias.name)] do |f|
        = f.text_field :name
        = f.submit

  %h3 Existing Genres
  - @genres.each do |genre|
    .genre-group
      = genre.name
      %ul
        - genre.genre_aliases.each do |genre_alias|
          %li= genre_alias.name