<div class="container">
    <h1>Editing
        <% @record.name %></h1>
    <% form_for(@record) do |f| %>

        <%= f.error_messages %>
        <p>
            <%= f.label :artist %><br/>
            <%= f.text_field :artist %>
        </p>


        <p>
            <%= f.label :name %><br/>
            <%= f.text_field :name %>
        </p>

        <p>
            <%= f.label :description %><br/>
            <%= f.text_field :description %>
        </p>

        <p>
            <%= f.label :date %><br/>
            <%= f.date_select :date %>
        </p>

        <p>
            <%= f.label :img_src %><br/>
            <%= f.text_field :img_src %>
        </p>


        <p>
            <%= f.label :producer %><br/>
            <%= f.text_field :producer %>
        </p>

        <p>
            <%= f.label :band %><br/>
            <%= f.text_field :band %>
        </p>

        <p>
            <%= f.label :engineer %><br/>
            <%= f.text_field :engineer %>
        </p>

        <p>
            <%= f.label :studio %><br/>
            <%= f.text_field :studio %>
        </p>

        <p>
            <%= f.submit 'Update', "class" => "button" %>
        </p>
    <% end %>

    <span class="controls">
        <%= link_to 'Show', @record %> |
        <%= link_to 'Back', records_path %>
    </span>
</div>