<div class="container">
    <h1>Vinyl Results</h1>

    <ul>
        <% @records.each do |record| %>
            <li class="recordItem">
                <p>
                    <label>Name</label>
                    <span><%= h record.name %></span>
                </p>

                <p>
                    <label>Description</label>
                    <span><%= h record.description %></span>
                </p>

                <p>
                    <label>Date</label>
                    <span><%= h record.date %></span>
                </p>
                <span class="controls">
                    <span><%= link_to 'View', record %>|</span>
                    <span><%= link_to 'Edit', edit_record_path(record) %>|</span>
                    <span><%= link_to 'Delete', record, :confirm => 'Permenantly Delete This Record?', :method => :delete %></span>
                </span>
            </li>
        <% end %>
    </ul>
    <br/>

    <span class="new"><%= link_to 'New Record', new_record_path %></span>
</div>