<h1>New record</h1>

<% form_for(@record) do |record| %>
    <%= record.error_messages %>
    <p>
        <%= record.label :artist %><br/>
        <%= record.text_field :artist %>
    </p>
    <p>
        <%= record.label :title %><br/>
        <%= record.text_field :title %>
    </p>
    <p>
        <%= record.label :description %><br/>
        <%= record.text_field :description %>
    </p>
    <p>
        <%= record.label :date %><br/>
        <%= record.date_select :date, :end_year => 1950, :start_year => Time.new.year, :include_blank => true %>
    </p>
    <p>
        <%= record.label :img_src %><br/>
        <%= record.text_field :img_src %>
    </p>
    <p>
        <%= record.label :producer %><br/>
        <%= record.text_field :producer %>
    </p>
    <p>
        <%= record.label :band %><br/>
        <%= record.text_field :band %>
    </p>
    <p>
        <%= record.label :engineer %><br/>
        <%= record.text_field :engineer %>
    </p>
    <p>
        <%= record.label :studio %><br/>
        <%= record.text_field :studio %>
    </p>
    <p>
        <%= record.submit 'Create', "class" => "button",
                "onmouseover" => "setClass(this, 'buttonHover');", "onmouseout" => "setClass(this, 'button');" %>
    </p>
<% end %>

<%= link_to 'Back', records_path %>