<div class="recordData">
    <p>
        <b>Artist:</b>
        <span><%= h @record.artist %></span>
    </p>

    <p>
        <b>Name:</b>
        <span><%= h @record.name %></span>
    </p>

    <p>
        <b>Description:</b>
        <span><%= h @record.description %></span>
    </p>

    <p>
        <b>Date:</b>
        <span><%= h @record.date %></span>
    </p>

    <p>
        <b>Image:</b>
        <span><%= h @record.img_src %></span>
    </p>

    <p>
        <b>Producer:</b>
        <span><%= h @record.producer %></span>
    </p>

    <p>
        <b>Band:</b>
        <span><%= h @record.band %></span>
    </p>

    <p>
        <b>Engineer:</b>
        <span><%= h @record.engineer %></span>
    </p>

    <p>
        <b>Studio:</b>
        <span><%= h @record.studio %></span>
    </p>



    <%= link_to 'Edit', edit_record_path(@record) %> |
    <%= link_to 'Back', records_path %>
</div>