<div class="container">

  <h3>Listing releases</h3>

  <%= render :partial => "partials/paginated_links", :locals => {:next_link => @next, :prev_link => @prev} %>
  <table class="releases">
    <tr>
      <th>&nbsp;</th>
      <th>Artist</th>
      <th>Title</th>
      <th>Year</th>
      <th>Label</th>
      <th>Format</th>
      <th>Matrix number</th>
    </tr>

    <% @releases.each do |release| %>
        <tr>
          <% ebay_item = release.ebay_items ? release.ebay_items[0] : nil %>
          <td><img src="<%= display_gallery_img(ebay_item.id, ebay_item.hasimage) if ebay_item %>"/></td>
          <td><%= h release.artist %></td>
          <td><%= h release.title %></td>
          <td><%= h release.year %></td>
          <td><%= h release.label_entity.name if release.label_entity %></td>
          <td><%= h release.format.name if release.format %></td>
          <td><%= h release.matrix_number %></td>
          <td><%= link_to 'Show', release %></td>
          <td><%= link_to 'Edit', edit_release_path(release) %></td>
          <td><%= link_to 'Destroy', release, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>
  </table>

  <br/>

  <%= link_to 'New release', new_release_path %>
</div>