<p>
  <b>Artist:</b>
  <%= h @release.artist %>
</p>

<p>
  <b>Title:</b>
  <%= h @release.title %>
</p>
<p>
  <b>Year:</b>
  <%= h @release.year %>
</p>
<p>
  <b>Label:</b>
  <%= h @release.label_entity.name if @release.label_entity%>
</p>
<p>
  <b>Format:</b>
  <%= h @release.format.name if @release.format %>
</p>
<p>
  <b>Matrix number:</b>
  <%= h @release.matrix_number %>
</p>
<%= link_to 'Edit Release', edit_release_path(@release) %> |
<%= link_to 'Delete Release', @release, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'View All Releases', releases_path %>

<p>Add Ebay Items</p>
<form id="mapping-search" name="search" action="<%= "#{search_path}" %>" method="get">
  <input type="text" name="q" id="ebay-item-finder" value=""/>
  <!--<p>Show only unmapped auctions: <input type="checkbox" name="show_mapped" id="show_mapped" value="false" checked="checked"/></p>-->
</form>

<script type="text/javascript">
    $(document).ready(function() {
        Release.init("<%= @release.id %>", "<%= "#{form_authenticity_token}" %>");
        new AutoCompleter("ebay-item-finder", "<%= "#{search_path}?include_mapped=false" %>", "ebay_item", Release.categorize);

    });
</script>
<%= javascript_include_tag 'releases' %>

<%= render :partial => "partials/ebay_item_index", :locals => {
        :header_text => "<h2>Auctions for this release</h2>",
        :base_url => "/all"} %>