<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Roots Vinyl Guide</title>
  <meta name="description" content="RootsVinylGuide.com provides a searchable back catalog of EBay auctions in the category of Reggae &amp; Ska records and thrives upon community driven auction categorization."/>
  <meta name="keywords" content="reggae, roots, dub, ska, vinyl, record, tracker, price guide"/>
  <meta name="author" content="Will Sulzer"/>
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
  <%= javascript_include_tag 'jquery-1.3.2' %>
  <%= javascript_include_tag 'jquery.autocomplete', 'jquery.form', 'jquery.selectboxes' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%= render :partial => "partials/header" %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<%= render :partial => "partials/footer" %>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
            var pageTracker = _gat._getTracker("UA-1471388-6");
            pageTracker._trackPageview();
            } catch(err) {}</script>
</body>
</html>
