<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Roots Vinyl Guide</title>
  <meta name="description" content="RootsVinylGuide.com provides a searchable back catalog of EBay auctions in the category of Reggae &amp; Ska records and allows for community driven auction categorization."/>
  <meta name="keywords" content="reggae, roots, dub, ska, vinyl, record, tracker, price guide"/>
  <meta name="author" content="Will Sulzer"/>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">  
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'main', 'comments', 'ebay_items', 'favorites', 'jquery.autocomplete' %>
  <%= javascript_include_tag 'jquery',  'jquery.autocomplete', 'jquery.form', 'jquery.selectboxes',
                             'application', 'rails', 'favorites' %>
</head>
<body>
<%= render :partial => "partials/header" %>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<p style="color: red"><%= flash[:error] %></p>

<div class="content">
  <%= yield %>
</div>

<%= render :partial => "partials/footer" %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22183211-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
